*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.root{
  display: flex;
}

.sidebar{
  flex-basis: 15%;
  height:100vh;
  background-color: #1976d2;
}
.main{
  flex-basis: 85%;
  height:min-content;
}

.card-section{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.outer-card{
  padding:0px;
  padding-left: 4px;
  flex-basis:23%;
  height: 100px;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
  overflow: hidden;
}
.inner-card{
  width: 100% !important;
  height: 100% !important;
  background-color: white;
  border-radius: 4px 0 0 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.chart-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}